@if (Request.IsAuthenticated)
{
    <text>
    <ul class="nav navbar-nav navbar-right mr-auto">
        <li class="navbar-text ">
            Hello, @User.Identity.Name!
        </li>
        <li class="nav-item">
            @Html.ActionLink("Sign out", "SignOut", "Account")
        </li>
    </ul>
    </text>
}
else
{
<ul class="nav navbar-nav navbar-right mr-auto">
    @* * NCW Replaced with if block*@
    @*<li>@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@

    @if (Request.UserAgent.IndexOf("Teams") == -1 && (Request.UrlReferrer == null ? "" : Request.UrlReferrer.Host) != "teams.microsoft.com")
    {
        <li class="nav-item">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", tenantId = ViewBag.TenantId })</li>
    }
    else
    {
        <li class="nav-item">@Html.ActionLink("Sign in", "msteamsSilent", "Auth")</li>
    }
</ul>
}
